body {
  margin: 0;
  padding: 0;
  background-color: #F9F7FC;
  font-family: helvetica, catamaran, fantasy;
  color: #312B45;
}

.game-container {
  width: 320px;
  height: 140px;
  border: 1px solid black;
  margin: 16px auto;
  overflow: hidden;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

#player {
  background: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  position: absolute;
  left: 8px;
  top: 8px;
}

#block-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

#block-container .block {
  position: absolute;
  right: 8px;
  width: 4px;
  height: 60px;
  background: green;
}

#block-container .block.up {
  top: 0;
}

#block-container .block.down {
  bottom: 0;
}

#reset-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
}

#reset-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-container button {
  margin: auto;
  font-size: 18px;
  border-radius: 4px;
}

#score-container {
  margin: 16px auto;
  width: 320px;
  text-align: center;
  font-size: 36px;
}

#rules-container {
  background: #E8E6F0;
  width: 320px;
  padding: 16px;
  border-radius: 4px;
  margin: 16px auto;
  box-sizing: border-box;
  box-shadow: 0 .0625rem .25rem 0 rgba(0, 0, 0, .2);
}

#rules-container h3 {
  margin: 0;
}

#rules-container ul {
  list-style-position: outside;
  padding: 0px 16px;
}

#rules-container ul li {
  margin: 0;
  margin-bottom: 8px;
}

#rules-container ul li span{
  font-weight: bold;
  color: #503A98;
}

#rules-container ul li code{
  font-weight: bold;
  color: #503A98;
  background: #F9F7FC;
  padding: 2px 6px;
}
